
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-class="dashboard.activeClass('dashboard.people')">
          <a href="#" ui-sref="dashboard.people">People</a>
        </li>
        <li ng-class="dashboard.activeClass('dashboard.reports')">
          <a href="#" ui-sref="dashboard.reports">Reports</a>
        </li>
        <li ng-class="dashboard.activeClass('dashboard.analytics')">
          <a href="#" ui-sref="dashboard.analytics">Analytics</a>
        </li>
        <li ng-class="dashboard.activeClass('dashboard.export')">
          <a href="#" ui-sref="dashboard.export">Export</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      
      <h1 class="page-header">
        Dashboard
        <button type="button" class="btn btn-default" ng-show="dashboard.isPeopleView()" ng-click="dashboard.savePeople()">Save</button>
      </h1>

      <alert type="{{dashboard.alert.type}}" close="dashboard.closeAlert()" ng-if="dashboard.alert">{{dashboard.alert.message}}</alert>

      <div class="slide" ui-view>
        <p>
          This is some default content and a little spinner experiment.
        </p>
        <div class="loader-container fadein">
          <div class="loader"></div>
        </div>
      </div>

    </div>
  </div>
